{% extends 'index.html' %} {% block content %} {% autoescape off %} 

<div class="row">
    <div class="col-10 offset-1">
        <h3 class="logoString_h3 text-center">Fortune Cookies</h3>
        <p class="text-center mt-5">Get your fortune cookies for today <b>right now</b>!</p>
        <div class="d-flex justify-content-center flex-column align-items-center">
            <button class="btn btn-outline-secondary" id="getFortuneCookies">Get Fortune Cookies</button>
            <div id="fortuneCookiesResult" class="d-flex align-items-center justify-content-center text-center border border-2 rounded rounded-2 mt-5 col-6">
                <span>Here will be your Fortune Cookies.</span>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-5"><a href="/" class="nav-link" title="Home page"><b>Home</b></a></div>
    </div>
</div>

{% endautoescape %} {% endblock %}
