{% extends 'index.html' %} {% block content %} {% autoescape off %}

<div class="row">
	<div class="col-10 offset-1">
		<h3 class="logoString_h3 text-center">Poems</h3>
		<p class="text-center mt-5">Here you can find Your favorite Poems!</p>
		<ul class="text-small">
			<li>Get an Authors' full list;</li>
			<li>Get a themes' full list;</li>
			<li>Get a full poems list by the selected Author;</li>
			<li>Get a full poems list by the selected theme;</li>
			<li>
				<a href="{% url 'poems' %}" class="nav-link" title="Back to Poems"><b>Back to Poems.</b></a>
			</li>
		</ul>
		<hr />
		<div class="row text-center d-flex align-items-center mb-5">
			<div class="col-4 offset-0 text-center">
				<p class="text-center text-small text-secondary">Get an <b>Authors' full list</b></p>
				<button class="btn btn-outline-secondary" id="getAuthorsList">Get!</button>
			</div>
			<div class="col-6 offset-1 border border-2 rounded rounded-2 d-flex flex-column justify-content-center" id="getAuthorsListResult">
				<div class="text-small"><i>Get Your Authors' full list here!</i></div>
			</div>
		</div>
		<div class="row text-center d-flex align-items-center mb-5">
			<div class="col-4 offset-0 text-center">
				<p class="text-center text-small text-secondary">Get a <b>themes' full list</b></p>
				<button class="btn btn-outline-secondary" id="getThemesList">Get!</button>
			</div>
			<div class="col-6 offset-1 border border-2 rounded rounded-2 d-flex flex-column justify-content-center" id="getThemesListResult">
				<div class="text-small"><i>Get Your themes' full list here!</i></div>
			</div>
		</div>
		<div class="row text-center d-flex align-items-center mb-5">
			<div class="col-4 offset-0 text-center d-flex flex-column justify-content-center align-items-center">
				<p class="text-center text-small text-secondary">Get a <b>full poems list</b> <br />by <b>selected Author</b></p>
				<form id="getPoemsListByAuthor" method="post" action="" enctype="application/x-www-form-urlencoded">
					{% csrf_token %}
					<div class="d-flex col-10 offset-1 mb-3">
						{% if resultAuthors %}
						<select class="form-select form-select-sm" name="author" aria-label="Select poems' Author">
							<option selected disabled>Choose Author</option>
							{% for i in resultAuthors %}
							<option value="{{i.name}}">{{i.name}}</option>
							{% endfor %}
						</select>
						{% endif %}
					</div>
					<button type="submit" class="btn btn-outline-secondary" id="">Get!</button>
				</form>
			</div>
			<div class="col-6 offset-1 border border-2 rounded rounded-2 d-flex flex-column justify-content-center" id="getPoemsListByAuthorResult">
				<div class="text-small"><i>Choose the Author and Get full poems' list here!</i></div>
			</div>
		</div>
		<div class="row text-center d-flex align-items-center mb-5">
			<div class="col-4 offset-0 text-center d-flex flex-column justify-content-center align-items-center">
				<p class="text-center text-small text-secondary">Get a <b>full poems list</b> <br />by <b>selected theme</b></p>
				<form id="getPoemsListByTheme" method="post" action="" enctype="application/x-www-form-urlencoded">
					{% csrf_token %}
					<div class="d-flex col-10 offset-1 mb-3">
						{% if resultThemes %}
						<select class="form-select form-select-sm" name="theme" aria-label="Select poems' theme">
							<option selected disabled>Choose theme</option>
							{% for i in resultThemes %}
							<option value="{{i.theme}}">{{i.theme}}</option>
							{% endfor %}
						</select>
						{% endif %}
					</div>
					<button type="submit" class="btn btn-outline-secondary" id="">Get!</button>
				</form>
			</div>
			<div class="col-6 offset-1 border border-2 rounded rounded-2 d-flex flex-column justify-content-center" id="getPoemsListByThemeResult">
				<div class="text-small"><i>Choose the theme and Get full poems' list here!</i></div>
			</div>
		</div>
		<div class="row text-center d-flex align-items-center mb-5">
			<div class="col-10 offset-1">
				<button class="btn btn-outline-danger" id="resetPage">Reset page</button>
			</div>
		</div>
	</div>
</div>

{% endautoescape %} {% endblock %}
